@model ECommerceMVC.Data.HangHoa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HangHoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenAlias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenAlias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.MaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNccNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNccNavigation.MaNcc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
